body {
    background-color: #cbf1f5;
    text-align: center;
  }
  button {
    background-color: white;
    border-style: none;
    border-color: grey;
    border-block-style: solid;
    border-width: 2px;
    background-color: #a8d8ea;
    width: 10%;
  }
   h1{
     color: #364f6b;
   }
   h3{
     color : #364f6b;
   }
  